.frame {


  height: 100%;


  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4px;
  background: #2a475e;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: scale(1);

  cursor: pointer;
  /*border: 1px solid #14C0C0;*/
}

.frame.activo {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.frame img {


  width: 100%;
  height: 70%;

  object-fit: cover;
  display: block;

}
.frame:hover{
  background-color: #2AA4DA;
  transform: translateY(-3px);
  box-shadow: 0px 6px 12px rgba(0, 0, 123, 0.4);

}
.nombre {
  height: 30%;

  background-color: #1E85BB;
  color: white;
  /*min-height: 35px;*/

  padding: 10px 20px;
  text-align: center;
  font-weight: bold;

  /*border-radius: 5px;*/

  /*#1b2838;*/
}
