
h1 {
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px #000;
  margin: 10px 30px;
}
.container {
  margin: 120px auto;
  width: 100%;
  height: 300px;
  max-width: 700px;
  max-height: 700px;
  opacity: 0; /* Inicialmente invisible */
  background-color: #1E85BB;
  border: #14C0C0 1px solid;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.621);
  
  transform: translateY(-20px); /* Posición inicial desplazada */
  transition: opacity 0.6s ease, transform 0.6s ease; /* Duración y tipo de transición */
  z-index: 1;
}

.container.visible {
  opacity: 1; /* Visible */
  transform: translateY(0); /* Posición final */
}

ul {
  list-style: none;
  padding: 0;
  margin: 50px auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

li {
  width: calc(33.33% - 20px);
  box-sizing: border-box;
}

.button-seleccion {
  padding: 10px 20px;
  background-color: #1E85BB;
  border: 1px solid #14C0C0;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.button-seleccion:hover {
  background-color: #2AA4DA;
  transform: translateY(-3px);
  box-shadow: 0px 6px 12px rgba(0, 0, 123, 0.4);
}
.button-volver {
  position: flex;
  margin: 50px 30px;;
  background-color: #1E85BB;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 20px; /* Tamaño del botón */
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 123, 0.2); /* Sombra */
  
}

.button-volver:hover {
  background-color: #2AA4DA;
  color: rgba(0, 0, 0, 0.605);
  transform: translateY(-3px); /* Animación al pasar el cursor */
  box-shadow: 0px 6px 12px rgba(0, 0, 123, 0.4);
}

.button-volver:active {
  transform: translateY(0);
  box-shadow: 0px 2px 4px rgba(0, 0, 123, 0.2);
}


p{
  text-align: center;

}
/* Contenedor del video de fondo */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

/* Estilos para el vídeo */
.background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Escala el video para cubrir todo el fondo */
}
