
.container {
  margin-top: 120px;
  opacity: 0; /* Inicialmente invisible */
  transform: translateY(-20px); /* Posición inicial desplazada */
  transition: opacity 0.6s ease, transform 0.6s ease; /* Duración y tipo de transición */
}

.container.visible {
  opacity: 1; /* Visible */
  transform: translateY(0); /* Posición final */
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; /* Espacio entre cada elemento de la lista */
}

div{

  height: 500px;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 10px; /* Espacio entre cada elemento de la lista */
}
.button-seleccion {

  justify-content: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #363b98;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.button-seleccion:hover {
  background-color: #3aa2a3
}
.button-volver{
  display: flex;
  justify-content: center;
  width: 10%;
  padding: 10px 10px;
  background-color: #363b98;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.button-volver:hover {
  background-color: #3aa2a3
}
p{
  text-align: center;

}
/* Contenedor del video de fondo */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; 
}

/* Estilos para el vídeo */
.background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Escala el video para cubrir todo el fondo */
}