

div{

  height: 500px;
  justify-content: center;
}
button {

  justify-content: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #4bb6b7;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

p{
  text-align: center;

}
