.card-exterior {
  max-width: 300px;
  height: 200px;
  margin: 0 auto;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  overflow: hidden;
}

.card-exterior.activo {
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.card-exterior:hover {
  background-color: #2AA4DA;
  transform: translateY(-3px);
  box-shadow: 0px 6px 12px rgba(0, 0, 123, 0.4);
  color: rgba(0, 0, 0, 0.605);
}

.card-exterior:hover .card-div-nombre {
  background-color: #2AA4DA;
  color: rgba(0, 0, 0, 0.605);
  box-shadow: 0px 6px 12px rgba(0, 0, 123, 0.4);
}


.card-div-imagen {
  position: relative;
  width: 300px;
  height: 150px;
  overflow: hidden;
}


.img-fondo {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(20px);
  transform: scale(1.2);
  z-index: 1;
}


.img-main {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-div-nombre {
  width: 300px;
  height: 50px;
  background-color: #1E85BB;
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}
