<nav class="navbar">
  <div class="navbar-container">

    <a href="#" class="navbar-logo">
        <img src="../../../assets/logo.png"	 alt="Logo" class="logo-image" />
      </a>

      <button class="menu-toggle" (click)="toggleMenu()" aria-label="Abrir menú">☰</button>

      <ul class="navbar-menu" [class.active]="menuOpen">
          <li><a routerLink ="home" (click)="cerrarMenus()">Home</a></li>
          <li><a routerLink="Juego" (click)="cerrarMenus()">Minijuego</a></li>
      </ul>

      <ul class="navbar-menu-usuario">
        <li class="titulo" *ngIf="flag === true">  Bienvenido {{ username }}!</li>
          <li *ngIf="flag !== true" ><a  routerLink ="login" (click)="cerrarMenus()">Inicio Sesion</a></li>
          <li *ngIf="flag !== true" ><a  routerLink ="register" (click)="cerrarMenus()">Registro</a></li>
          <li *ngIf="flag === true" > <img class="user-image" src="../../../assets/user.png" alt="Menú de usuario" role="button" tabindex="0" (click)="toggleDropdown()" (keyup.enter)="toggleDropdown()">
        </li>
      </ul>

        <ul class="user-dropdown" [class.active]="dropdownOpen">
          <a class="titulo">Panel de Usuario</a>
            <li *ngIf="flag === true" ><a  routerLink ="/favoritos" (click)="cerrarMenus()">Favoritos</a></li>
            <li *ngIf="flag === true" ><a routerLink="/updateP" (click)="cerrarMenus()">Cambiar Contraseña</a></li>
            <li *ngIf="flag === true" ><a role="button" tabindex="0" (click)="logOut()" (keyup.enter)="logOut()">Cerrar Sesion</a></li>
        </ul>
   </div>
</nav>
