.container {
  margin-left:20px;
  max-width: 600px ;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.621);
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.6);
  min-height: 90px;
  border-radius: 10px;
}

input {
  margin-left: 8%;
  width: 80%;
  padding: 10px 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: auto;
  padding: 10px 20px;
  background-color: #fc943d;
  border: #c06820 1px solid;
  color: white;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 10px 20px; /* Tamaño del botón */
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 123, 0.2); /* Sombra */
  margin: 20px auto 30px;
}
