.container{
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 50px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.621);
  margin-left: 20px;
}

.comentario-container{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.621);
  margin: 10px 10px;
}
