<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>comentarios</title>
</head>
<body>
  
  <div class="app-comentarios-container"  *ngIf="flag === true">
  <app-comentarios (emitirComentario)="agregarComentarioDb($event) "> </app-comentarios>
  </div>

    <div class="container">
      <h1>Lista de comentarios</h1>
      <ul>
        <div *ngFor="let comentarioActual of listaComentarios; let i = index">
          <div *ngIf="comentarioActual.ciudad === getCiudadActual()">
            <div class="comentario-container">
              <strong>{{ comentarioActual.usuario }}: </strong>  {{ comentarioActual.mensaje }}
            </div>
          </div>
        </div>
      </ul>
    </div>



</body>
</html>
