h1{
  text-align: center;
  font-size: 90px;
}

.img1{
  width: 900px;
  image-rendering:optimizeQuality;

}
.fade-in {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  animation: fadeIn 2s 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
button {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 10px;
  background-color: #4bb6b7;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

p{
  text-align: center;

}
