<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
</head>
<body>
  <div class="video-background">
    <video autoplay loop muted playsinline class="background-video" (loadeddata)="onVideoLoaded()">
      <source src="assets/background-video.mp4" type="video/mp4" />
      Tu navegador no soporta reproducción de vídeos.
    </video>
  </div>
  
  <img src="../../../assets/logo_grande.png"	 alt="Logo" class="logo-image" />  
  
  <!-- <div class="div-botones">
  <button type="button" routerLink="/paises">Empecemos!</button>
  </div> -->
  <div class="div-game">
    <app-game></app-game>
  </div>
</body>
</html>

