h1{
    text-align: center;
    font-size: 60px;
}

.banderas{
    text-align: center;
}

.opcionesJuego{
    text-align: center;
}

.lista-opciones{
    list-style: none;
    font-family: 'Press Start 2P', cursive; /* Fuente estilo Mario Bros */
    font-size:x-small;
}
.lista-puntaje {
    display: flex; /* Usa flexbox para organizar los elementos */
    justify-content: space-between; /* Coloca los elementos en extremos opuestos */
    align-items: center; /* Alinea verticalmente los elementos */
    font-family: 'Press Start 2P', cursive; /* Fuente estilo Mario Bros */
    font-size: 14px; /* Tamaño de fuente */
    color: #ffcc00; /* Color amarillo estilo retro */
    text-shadow: 2px 2px #000; /* Sombra negra para efecto retro */
    list-style: none; /* Quita los puntos de la lista */
    padding: 10px; /* Espaciado interno */
    margin: 0;
    border: 2px solid #000; /* Bordes estilo retro */
    background-color: #333; /* Fondo oscuro */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .lista-puntaje li {
    flex: 1; /* Los elementos ocupan el espacio proporcionalmente */
    text-align: center; /* Centra el texto en su área asignada */
  }

p{
    text-align: center;
}