<head>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<section class="section">
    <ul class="lista-puntaje" [ngClass]="{'visible': paisAleatorio}">
        <li>Puntaje Actual: {{this.puntaje}}</li>
        <li>Mejor Puntaje: {{this.mejorPuntaje}}</li>
      </ul>
    <h1>Que pais es?</h1>
    <div *ngIf="paisAleatorio" class="banderas" [ngClass]="{'visible': paisAleatorio}">
        <img [src]="paisAleatorio.bandera" alt="Bandera">
      </div>
        <div *ngIf="opciones" class="opcionesJuego" [ngClass]="{'visible': opciones.length > 0}">
            <p>Selecciona el país correcto:</p>
            <ul class="lista-opciones">
                <li *ngFor="let opcion of opciones; let i = index" [ngClass]="{'visible': true}">
                    <button 
                        [ngClass]="{'correcto': opcion === paisAleatorio && opcionesDesHabilitadas, 'incorrecto': opcion !== paisAleatorio && opcionesDesHabilitadas}" 
                        (click)="verificarRespuesta(opcion)" 
                        [disabled]="opcionesDesHabilitadas">
                        {{ opcion.nombre }}
                    </button>
                </li>
            </ul>
        </div>
        <p>{{ mensaje }}</p>
</section>
