<fieldset class="capsula">
  <legend><strong>Actualizar Contraseña</strong></legend>

  <form [formGroup]="formularioUpdate" (ngSubmit)="update()">
    <div>
      <label for="password">Nueva Contraseña:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        [class.invalid]="formularioUpdate.controls['password'].touched && formularioUpdate.controls['password'].invalid"
      />
      <div *ngIf="formularioUpdate.controls['password'].touched && formularioUpdate.controls['password'].invalid" class="error">
        Este campo es obligatorio.
      </div>
    </div>

    <div>
      <label for="confirmPassword">Confirmar Contraseña:</label>
      <input
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
        [class.invalid]="formularioUpdate.controls['confirmPassword'].touched && formularioUpdate.controls['confirmPassword'].invalid"
      />
      <div *ngIf="formularioUpdate.controls['confirmPassword'].touched && formularioUpdate.controls['confirmPassword'].invalid" class="error">
        Este campo es obligatorio.
      </div>
    </div>


    <button type="button" class="button-volver" (click)="volver()">Volver</button>

    <button type="submit" [disabled]="formularioUpdate.invalid">Actualizar</button>
  </form>
</fieldset>
