
<fieldset class="capsula">

  <legend><strong>Update</strong></legend>

  <form [formGroup]="formularioUpdate" (ngSubmit)="update()">

    <div>
      <label for="username">Usuario: </label>
      <input type="text" id="username" formControlName="username">
    </div>

    @if (formularioUpdate.controls['username'].getError('required')&&formularioUpdate.controls['username'].touched) {}
    <div class="error">
      Este campo es obligatorio!
    </div>

    <div>
    <label for="email">Email: </label>
    <input type="text" id="email" formControlName="email">
  </div>
  @if (formularioUpdate.controls['email'].getError('required')&&formularioUpdate.controls['email'].touched) {}
  <div class="error">
    Este campo es obligatorio!
  </div>



  <div>
    <label for="password">Password: </label>
    <input type="text" id="password" formControlName="password">
  </div>
  @if (formularioUpdate.controls['password'].getError('required')&&formularioUpdate.controls['password'].touched) {}
  <div class="error">
    Este campo es obligatorio!
  </div>



    <button type="submit">Update</button>
  </form>

</fieldset>
