.container {
  margin-top: 120px; 
}

.register-container {
  /* Estilos de registro */
  background-color: hsl(0, 0%, 100%);
  padding: 50px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  border: black 1px solid;
  margin: 0 auto;
}

.titulaso{
  color: #4bb6b7;
}

.form-control {
  position: relative;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4bb6b7;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

small{
  color: red;
}
.div-content{
  display: flex;

  min-height: 200px;
  align-items: center;
  justify-content: center;
  height: 200px;
  border: 2px solid  #4bb6b7;
}
