@if(logueado){
  <button (click)="abrePopUp()">Guardar</button>
  @if(visible){
    <div class="popup-overlay"></div>
    <div class="popup-content" role="dialog" aria-modal="true">

      <form [formGroup]="formulario" (ngSubmit)="saveSelection()">

        <h4>Guardar en favoritos</h4>

        <div class="div-listas" [formGroup]="groupCheckbox">
          @for(idLista of idsGroupCheckbox;track $index){
            <label>
              <input type="checkbox" [formControlName]="idLista" />{{mapNombresListas.get(idLista) }}
            </label>
          }
        </div>

        <div>
          <div class="div-agregar">
            <input type="text" formControlName="nuevocheckboxListaFavorito" placeholder="Nueva lista" maxlength="20" aria-label="Nombre de la nueva lista" />
            <button type="button" (click)="agregarNuevaLista()">Agregar</button>
          </div>

          <div class="div-error">
            @if(nuevaListaInput.errors?.['required'] && nuevaListaInput.touched){
              <small class="error">Ingresa un nombre para la lista</small>
            }@else{
              @if(nuevaListaInput.errors?.['maxItemsAlcanzado'] && nuevaListaInput.touched){
                <small class="error">Se ha llegado al maximo de listas</small>
              }@else{
                @if(nuevaListaInput.errors?.['valorExistente']  && nuevaListaInput.touched){
                  <small class="error">Ya existe una lista con ese nombre</small>
                }
              }
            }
          </div>
        </div>
        <div class="div-acciones">
          <button type="button" (click)="cancelar()">Cancelar</button>
          <button type="submit">Guardar</button>
        </div>


      </form>
    </div>
  }
}
