.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  color: #333;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;


}

form{
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 450px;
}

h4{
  color: #333;
   margin: 4px 0;
}

.div-listas{
  height: 268px;
  width: 100%;
}

.div-listas label {
  font-size: 15px; /* agrandar texto */
  display: flex;
  align-items: center; /* centra verticalmente */
  max-width: 600px;
  padding: 6px 8px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
}
.div-listas label input[type="checkbox"]{
 width: 18px;
 height: 18px;
 margin-right: 10px;
}

.div-agregar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.div-agregar input[type="text"] {
  flex: 1;
  padding: 8px 12px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;

}

.div-error{
  height: 15px;
}

.error{
  color:red;
}

.div-acciones {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

}

button {
  width: auto;
  padding: 10px 20px;
  background-color: #1E85BB;
  border: none;
  color: white;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 10px 20px; /* Tamaño del botón */
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 123, 0.2); /* Sombra */
}

button:hover {
  background-color: #2AA4DA;
  color: rgba(0, 0, 0, 0.605);
  transform: translateY(-3px); /* Animación al pasar el cursor */
  box-shadow: 0px 6px 12px rgba(0, 0, 123, 0.4);
}

button:active {
  transform: translateY(0);
  box-shadow: 0px 2px 4px rgba(0, 0, 123, 0.2);
}

