
ul {
  list-style: none;
  padding: 0;
  margin: 50px auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

li {
  width: calc(33.33% - 20px);

}

.content {
  margin: 120px auto;
  width: 100%;
  height: 300px;
  max-width: 900px;
  max-height: 700px;
  opacity: 0; /* Inicialmente invisible */
  background-color: #fc943d;
  border: #c06820 1px solid;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.621);
  
  transform: translateY(-20px); /* Posición inicial desplazada */
  transition: opacity 0.6s ease, transform 0.6s ease; /* Duración y tipo de transición */
  z-index: 1;
}

.content.visible {
  opacity: 1; /* Visible */
  transform: translateY(0); /* Posición final */
}
.acces-button {
  padding: 20px 20px;
  background-color: #fc943d;
  border: 1px solid #c06820;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.acces-button:hover {
  background-color: #c06820;
  transform: translateY(-3px);
  box-shadow: 0px 6px 12px rgba(0, 0, 123, 0.4);
}
p{
  text-align: center;

}


.delete-button {
  align-items: center;
  padding: 8px 12px;
  background-color: #e86c4f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 10px;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #ff1a1a;
  transform: translateY(-3px);
  box-shadow: 0px 6px 12px rgba(0, 0, 123, 0.4);
}




.buttons-list{
  display: flex;
  gap: 10px; /* Espacio entre los botones */
}


.button-volver {
  position: relative;
  background-color: #fc943d;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 20px; /* Tamaño del botón */
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 123, 0.2); /* Sombra */
  margin: 20px 20px 140px;
}

.button-volver:hover {
  background-color: #fc943d;
  color: rgba(0, 0, 0, 0.605);
  transform: translateY(-3px); /* Animación al pasar el cursor */
  box-shadow: 0px 6px 12px rgba(0, 0, 123, 0.4);
}

.button-volver:active {
  transform: translateY(0);
  box-shadow: 0px 2px 4px rgba(0, 0, 123, 0.2);
}


.button-redirigir-paises{
  width: auto;
  padding: 10px 20px;
  background-color: #fc943d;
  border: none;
  color: white;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 10px 20px; /* Tamaño del botón */
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 123, 0.2); /* Sombra */
  margin: 20px auto 140px;
}
.button-redirigir-paises:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
  box-shadow: 0px 6px 12px rgba(0, 0, 123, 0.4);
}

/* Contenedor del video de fondo */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

/* Estilos para el vídeo */
.background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Escala el video para cubrir todo el fondo */
}


button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
  box-shadow: 0px 6px 12px rgba(0, 0, 123, 0.4);
}

/* Efecto al hacer clic */
button:active {
  transform: translateY(0);
  box-shadow: 0px 2px 4px rgba(0, 0, 123, 0.2);
}
