<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

</head>
<body>
  <div class="video-background">
    <video autoplay loop muted playsinline class="background-video" (loadeddata)="onVideoLoaded()">
      <source src="assets/background-video.mp4" type="video/mp4" />
      Tu navegador no soporta reproducción de vídeos.
    </video>
  </div>

  <h1>{{lista.nombreLista}}</h1>
  <div class="content" [class.visible]="containerVisible">


    <div class="buttons-list">

      <button class="delete-button">
        <i class="material-icons" (click)="eliminarLista()">delete</i>
      </button>

    </div>
    <ul>
      @for (c of lista.listaCiudades; track $index) {
          <li>
            <button class="acces-button" (click) = "accederCiudad(c)">
              {{c.nombre}}
            </button>
            <button class="delete-button" (click)="eliminarDeLaLista(c)">
              <i class="material-icons">delete</i>
            </button>
          </li>
        }
    </ul>
  </div>
  <button type="button" class="button-volver"(click)="volver()">Volver</button>
</body>
</html>
