<div class="div-layout">

  <div class="video-background">
    <video autoplay loop muted playsinline class="background-video" (loadeddata)="onVideoLoaded()">
      <source src="assets/background-video.mp4" type="video/mp4" />
      Tu navegador no soporta reproducción de vídeos.
    </video>
  </div>


 <app-titulo-lista
    (eliminarLista)="eliminarLista()"
    (nuevoTitulo)="guardarNuevoTitulo($event)"
    [nombreOriginal]="this.lista!.nombreLista"
    [idUser]="this.idUsuario">
  </app-titulo-lista>

  <div class="div-central" [class.visible]="containerVisible">

    <div class="div-ciudades"  >

      @for(l of listaImagenes;track  l.ciudad.codigoPais + l.ciudad.nombre){
        <app-card-eliminar
          [arregloImagenes]="l.imagenes"
          [titulo]="l.ciudad.nombre"
          (click) ="accederCiudad(l.ciudad)"
          (borrar)="eliminarDeLaLista(l.ciudad)"
        ></app-card-eliminar>
      }

    </div>

    <button type="button" class="button-volver"(click)="volver()">Volver</button>

  </div>
</div>


