
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; /* Espacio entre cada elemento de la lista */
}

.content{

  height: 600px;
  justify-content: center;
}
.acces-button {

  justify-content: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #4bb6b7;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.acces-button:hover {
  background-color: #3aa2a3
}
p{
  text-align: center;

}


.delete-button {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background-color: #f34040;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #ff1a1a;
}




.buttons-list{
  display: flex;
  gap: 10px; /* Espacio entre los botones */
}

.button-volver{
  display: flex;
  justify-content: center;
  width: 10%;
  padding: 10px 10px;
  background-color: #4bb6b7;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.button-volver:hover {
  background-color: #3aa2a3
}
