<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista Paises</title>
</head>
<body>
  <div class="video-background">
    <video autoplay loop muted playsinline class="background-video" (loadeddata)="onVideoLoaded()">
      <source src="assets/background-video.mp4" type="video/mp4" />
      Tu navegador no soporta reproducción de vídeos.
    </video>
  </div>
  <div class="contenedor">
    
    
    <div class="abecedario">
      <a (click)="filtrarPaises('todos')">Todos</a>
      <a *ngFor="let letra of letras" (click)="filtrarPaises(letra)">{{ letra }}</a>
    </div>

    <ul>
      <li *ngFor="let pais of paisesFiltrados">
        <a (click)="seleccionarPais(pais)">{{ pais.nombre }}  </a>
      </li>
    </ul>


  </div>

</body>
</html>
