<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
  <title>Lista Paises</title>
</head>
<body>

  <div class="contenedor">
    <div class="abecedario">
      <a (click)="filtrarPaises('todos')">Todos</a>
      <a *ngFor="let letra of letras" (click)="filtrarPaises(letra)">{{ letra }}</a>
    </div>

    <ul>
      <li *ngFor="let pais of paisesFiltrados">
        <a (click)="seleccionarPais(pais)">{{ pais.nombre }}</a>
      </li>
    </ul>
  </div>

</body>
</html>
