.map {
    position: relative;
    box-shadow: black 0px 0px 20px;
    overflow: hidden; /* Asegura que el mapa no sobresalga del borde */
    height: 100%; /* Asegura que ocupe todo el espacio del contenedor */
  }