body {
  margin: 100px auto;
}
button {
  display: flex;
  justify-content: center;
  width: 10%;
  padding: 10px 10px;
  background-color: #4bb6b7;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
