
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
  <title>Ciudad</title>
</head>
<body>


    <app-selecionador-listas-flotante *ngIf="showPopup" (close)="showPopup = false"></app-selecionador-listas-flotante>


  <div *ngIf="ciudad$ | async as ciudad">
    <div class="container">
      <h2>{{ ciudad.nombre }}</h2>

      <button *ngIf="usuarioLogueado" (click)="showPopup = true">Guardar</button>

    </div>


    <p>{{ ciudad.infoWikipedia }}</p>
    <p>Actividades: {{ ciudad.actividades }}</p>
    <p>Consejos: {{ ciudad.consejos }}</p>
    <p>Comentarios: {{ ciudad.comentarios }}</p>
    <h3>Atracciones</h3>
    <ul>

      <li *ngFor="let atraccion of ciudad.atracciones">
        <h4>{{ atraccion.nombre }}</h4>
        <p>{{ atraccion.descripcion }}</p>
        <img *ngIf="atraccion.imagen" [src]="atraccion.imagen" alt="Imagen de {{ atraccion.nombre }}">
        <p>Horario: {{ atraccion.horario }}</p>
        <p>Página web: {{ atraccion.paginaWeb }}</p>
        <p *ngIf="atraccion.ubicacion">Ubicación: {{ atraccion.ubicacion.direccion }}</p>
        <p>Tipo: {{ atraccion.tipo }}</p>
        <p>Valoración: {{ atraccion.valoracion }}</p>
      </li>
    </ul>
    <button type="button" (click)="volver()">Volver</button>
  </div>
</body>


<app-comentarios-list > </app-comentarios-list>


</html>