<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <div class="video-background">
    <video autoplay loop muted playsinline class="background-video" (loadeddata)="onVideoLoaded()">
      <source src="assets/background-video.mp4" type="video/mp4" />
      Tu navegador no soporta reproduccion de videos.
    </video>
  </div>

  <div class="container" id="container" [class.visible]="containerVisible">
    <div class="login-container">
      <form [formGroup]="formulario" (ngSubmit)="loguearse()" class="form-lg">
        <h1 class="titulaso">Inicia sesion aqui</h1>
        <div class="form-control2">
          <input type="email" class="email-2" formControlName="email" placeholder="Correo electronico" />
          <div *ngIf="formulario.controls['email'].touched || formulario.controls['email'].dirty">
            @if(formulario.controls['email'].getError('required')){
              <div class="error">
                Campo requerido
              </div>
            }
            @if(formulario.controls['email'].getError('email')){
              <div class="error">
                Correo electronico no valido
              </div>
            }
          </div>
          <div *ngIf="emailIncorrecto" class="error">
            Email incorrecto
          </div>
        </div>

        <div class="form-control">
          <input type="password" formControlName="password" placeholder="Contrasena" />
          <small class="error"></small>
          <div *ngIf="formulario.controls['password'].touched || formulario.controls['password'].dirty">
            @if(formulario.controls['password'].getError('required')){
              <div class="error">
                Campo requerido
              </div>
            }
          </div>
          <div *ngIf="passwordIncorrecto" class="error">
            Password incorrecto
          </div>
        </div>

        <div *ngIf="serverError" class="error">
          {{ serverError }}
        </div>

        <button type="submit">Iniciar sesion</button>
        <small class="minireg">No tienes cuenta? <a class="minireg" routerLink="/register"><strong>Registrate aqui</strong></a></small>
      </form>
    </div>
  </div>
</body>
</html>
