.login-container {
  /* Estilos de registro */
  background-color: hsl(0, 0%, 100%);
  padding: 50px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.overlay-right{

  padding: 50px;
  height: 200px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
}

.titulaso{
  color: #4bb6b7;
}


.form-control {
  position: relative;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4bb6b7;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.lodeabajo{
  align-content:center;
  margin: 0 auto;
  color: #23a8dd;
  line-height: 40px;
  text-align: center;
}

.error{
  color: red;

}
