<section>
    <div class="video-background">
        <video autoplay loop muted playsinline class="background-video" (loadeddata)="onVideoLoaded()">
          <source src="assets/background-video.mp4" type="video/mp4" />
          Tu navegador no soporta reproducción de vídeos.
        </video>
      </div>  

    <div class="contenedor" [class.visible]="containerVisible">
    <img class="logo-image" src="../../../assets/logo_grande.png"alt="Logo"/> 
    <h2>Sobre Nosotros:</h2>
    <p>Somos un equipo de profesionales apasionados por ayudar a las personas a tomar decisiones informadas al momento de viajar. Nuestro proyecto consiste en una plataforma web que ofrece información útil y relevante sobre destinos turísticos en todo el mundo, desde países hasta las ciudades más populares en términos de turismo.

        El objetivo de nuestra web es guiarte en el proceso de selección de tu próximo destino, brindándote detalles que te permitan tomar decisiones basadas en datos precisos. Aunque el proyecto aún está en desarrollo, planeamos ampliar nuestras funcionalidades para incluir herramientas que te ayuden no solo en la elección del lugar al que viajar, sino también en la organización completa del viaje, desde la búsqueda de vuelos hasta la planificación de rutas personalizadas.</p>
        <p>Responsables del proyecto:</p>
        <ul>
            <li>Facundo Ramallo</li>
            <li>Manuel Ruggeri</li>
            <li>Alex Villca</li>
            <li>Andrés Chávez</li>
            <li>Gustavo Iñegue</li>
        </ul>
    <p>Gracias por seguirnos en este viaje y por tu interés en nuestro proyecto. Estamos comprometidos en ofrecerte las mejores herramientas para hacer de tu experiencia de viaje algo inolvidable.</p>
</div>
</section>
