@if(logueado){
  @if(visible){
    <div class="popup-overlay"></div>
    <div class="popup-content">

      <h3>Guardar en colección</h3>

<form [formGroup]="formulario" (ngSubmit)="saveSelection()">
  <div formArrayName="items">
    <div *ngFor="let item of itemsArray.controls; let i = index">
      <div [formGroupName]="i">
        <label><input type="checkbox" formControlName="seleccionada" />{{ item.value.nombre }}</label>

      </div>
    </div>
  </div>
  <div class="container">
      <button (click)="closePopup()">cancelar</button>
      <button type="submit">Guardar cambios</button>
  </div>

</form>
      <!--
    <form [formGroup]="formularioListas" (submit)="saveSelection()">
    <ol>
    <div *ngFor="let lista of listasFront; let i = index">
      <label>
        <input type="checkbox" [value]="lista.seleccionada" />
        {{ lista.nombre }}
      </label>
    </div>
    </ol>
    <div class="container">
      <button (click)="closePopup()">Cancelar</button>
      <button type="submit">Guardar</button>
    </div>

    </form>
    -->

    </div>
  }@else{
    <button (click)="visible=true">Guardar</button>
  }

}
