<div class="popup-overlay" ></div>
<div class="popup-content">

  <h3>Guardar en colección</h3>
  <form (ngSubmit)="saveSelection()">

<ol>
  <div *ngFor="let l of listasFront">
    <label>
      <input type="checkbox" [checked]="l.seleccionada" [(ngModel)]="l.seleccionada" name="{{l.nombre}}" />
      {{ l.nombre }}
    </label>
  </div>
  @if(this.listasFront.length < 9){
    <div class="container">
      <input
        type="text"
        placeholder="Nueva lista"
        [(ngModel)]="vacio"
        name="inputNombreNuevaLista"
        (keydown.enter)="agregaNuevaLista($event)"
      />
    </div>
  }@else{
    <small class="error">*Se llego al maximo de listas</small>
  }
</ol>

  <div class="container">
    <button  (click)="closePopup()">Cancelar</button>
    <button type="submit">Guardar</button>
  </div>

  </form>
</div>
